---
import PageLayout from '@/layouts/CommonPage.astro'
---

<PageLayout title='About' info='/about'>
  <h2>안녕하세요!</h2>
  <h3>저는 우진이에요.</h3>
  <h6>편하게 코체라고 불러주세요!</h6>

  <blockquote>
    <p>
      <a href='https://corche.me' rel='nofollow noopener noreferrer' target='_blank'
        >이곳에서 저에 대해 더 알아보세요!<span> ↗</span></a
      >
    </p>
  </blockquote>
</PageLayout>
