---
// import Search from '@/components/search/FuseSearch.astro'

import { PFSearch } from 'astro-pure/components/pages'
import { Button } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'

const meta = {
  description: 'Search relative posts of the whole blog',
  title: 'Search'
}
---

<PageLayout {meta}>
  <Button title='뒤로' href='/' style='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>검색</h1>
    </div>

    <div id='content' class='animate'>
      <PFSearch />
    </div>
  </main>
</PageLayout>
