@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 340 40% 98%;
    --foreground: 315 21% 8%;
    --card: 340 40% 98%;
    --card-foreground: 315 21% 8%;

    --popover: 340 40% 98%;
    --popover-foreground: 315 21% 8%;
    --primary: 340 25% 15%;
    --primary-foreground: 0 0% 98%;
    --secondary: 340 25% 95%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 340 20% 95%;
    --muted-foreground: 340 10% 60%;

    --accent: 340 25% 94%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 340 25% 90%;
    --input: 340 25% 90%;
    --ring: 315 21% 8%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 315 21% 8%;
    --foreground: 0 0% 98%;
    --card: 315 21% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 315 21% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 296 18% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 296 18% 15%;
    --muted-foreground: 240 5% 68%;
    --accent: 296 18% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 296 18% 15%;
    --input: 296 18% 15%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  a {
    @apply transition-colors hover:text-primary;
  }
}
